@import 'colors';
.home-body{
color: black;}

.home-header{
    text-align: center;
}

#home-image{
background-image: url("album-collage.jpeg");
height: 1000px;
width: 100%;
opacity: 0.5;
}


.top-bar {
    background-color: $prussian-blue;
    padding: 1rem 3rem;
}

.button {
    background-color: $prussian-blue;
    color: $manatee;
    border-radius: 3rem;
    font-size: 1rem;
    transition: .2s;
}

.button:hover {
    background-color: $Black;
    color: $manatee;
}

