@import 'colors';

.song-card {
  background-color: $prussian-blue;
  border-radius: .5rem;

  transition: .2s;



  p {
    color: $lemon-meringue
  }

  .card-content {
    margin-top: 2rem;
  }

  // .label {
  //   background-color: $middle-blue-green;
  //   color: $dark-sienna;
  //   font-size: 1rem;
  //   padding: .5rem;
  //   border-radius: 1rem;
  //   max-width: 7rem;
  //   display: block;
  // }


}

.song-card:hover {
  opacity: 80%;
  cursor: pointer;
}


.movie-meta-info {
  padding: 1rem;

  p {
    margin: 1rem;
  }
}