@import 'colors';

.song-card {
  background-color: $prussian-blue;
  border-radius: .5rem;

  transition: .2s;



  p {
    color: $lemon-meringue
  }

  .card-content {
    margin-top: 2rem;
  }


}



